<div>
  <h1>{{title}}</h1>

  <div id='productos-lista'>

  </div>
  <h2>Manage products</h2>
  <div class='formContainer'>
    <form id='productform' class='productform'>
      <h2>Eliminar producto</h2>
      <p>Ingresar solamente el ID del producto</p>
      <input type='text' name='eliminar' id='eliminar' />
      <button id='eliminarProducto' type='submit'>Eliminar</button>
    </form>

    <form id='addProduct' class='productform'>
      <h2>Agregar productos</h2>
      <p>Opciones: "Motorola, Iphone, Samsung"</p>
      <p>Controlar que no esté agregado en la lista de productos</p>
      <input type='text' name='product' id='product' />
      <button id='agregarProducto' type='submit'>Agregar</button>
    </form>
  </div>
</div>